HOSTCC = gcc
CC = gcc
AR = ar
PKGCONFIG = pkg-config

CFLAGS_OPTIMIZE = -pedantic -g0 -O3 -fPIC -march=native

LUA=luajit

CFLAGS = $(shell $(PKGCONFIG) --cflags fftw3)
CFLAGS += $(shell $(PKGCONFIG) --cflags $(LUA))
CFLAGS += -Wall -Wextra $(CFLAGS_OPTIMIZE)
CFLAGS += -D_GNU_SOURCE

LDFLAGS = -ls6dns -lskarnet -lm
LDFLAGS += $(shell $(PKGCONFIG) --libs fftw3)
LDFLAGS += $(shell $(PKGCONFIG) --libs $(LUA))

